<!-- Generated template for the CertificateComponent component -->
<div class="certificate-popup">
  <div class="certificate-popup__content">
    <div class="certificate-popup__content__box">
      <div class="certificate-popup__content__box__icon">
        <!--<img src="{{icon}}"/>-->
      </div>
      <h2>Something{{certificateName}}</h2>
      <h3>Certificate Info</h3>
      <div class="certificate-popup__content__box__info">
        <div class="certificate-popup__content__box__info__item">
          <p>issues by</p>
          <!--<h3>{{vertificateAuthor}}</h3>-->
        </div>
        <div class="certificate-popup__content__box__info__item">
          <p>date signed</p>
          <!--<h3>{{dateSigned}}</h3>-->
        </div>
      </div>
    </div>
    <button class="certificate-popup__content__button"></button>
  </div>
</div>
