@import "../../styles/mixins";
certificate-box {
  .certificate{
    margin-top: 40px;
    &__content{
      &__box{
        margin: auto;
        background-color: white;
        @include border-shadow(3px, 3px, 15px, rgba(0,0,0,0.15));
        text-align: center;
        &__icon{
          width: 80px;
          height: 80px;
          background-color: white;
          @include translate("x", relative);
          top: -40px;
          @include border-shadow(2px, 2px, 10px, rgba(0,0,0,0.15));
          img{
            @include translate("y", relative);
          }
          &__square{
            border-radius: 5px;
          }
          &__circle{
            border-radius: 50%;
          }
        }
        h2{
          text-transform: capitalize;
          font-size: 25px;
          margin: 5px auto 0 auto;
        }
        hr{
          margin: 15px auto !important;
          width: 10%;
          height: 2px;
        }
        &__info{
          display: flex;
          justify-content: center;
          //margin-top: 40px;
          &__text{
            font-size: 18px;
            border-top: 1px solid rgba(0,0,0,0.16) !important;
            border-bottom: 1px solid rgba(0,0,0,0.16) !important;
            padding: 15px;
            font-weight: 300;
            margin-top: 30px;
          }
          &__item{
            width: 50%;
            padding: 15px;
            p{
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 300;
            }
            h3{
              font-size: 19px;
              font-weight: 500;
            }
            &:nth-child(1){
              border-right: 1px solid rgba(0,0,0,0.16);
            }
          }
        }
        &__verification{
          //padding-bottom: 20px;
          &__passed{
            color: #84E5A9;
          }
          &__failed{
            color: #F88686;
          }
        }
      }
      &__button{
        //margin: auto;
        padding: 20px 30px;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 50px;
        @include translate("x", relative);
        display: block;
        top: 30px;
        &__full{
          background: rgba(205,71,107,1);
          background: -moz-linear-gradient(left, rgba(205,71,107,1) 0%, rgba(247,172,81,1) 100%);
          background: -webkit-linear-gradient(left, rgba(205,71,107,1) 0%, rgba(247,172,81,1) 100%);
          background: -o-linear-gradient(left, rgba(205,71,107,1) 0%, rgba(247,172,81,1) 100%);
          background: -ms-linear-gradient(left, rgba(205,71,107,1) 0%, rgba(247,172,81,1) 100%);
          background: linear-gradient(to right, rgba(205,71,107,1) 0%, rgba(247,172,81,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd476b', endColorstr='#f7ac51', GradientType=1 );
          color: white;
        }
        &__outline{
          border: 2px solid #E38068;
          background-color: transparent;
        }
      }
    }
    &__cta{
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
      button{
        left: 0;
        transform: unset;
        &:nth-child(1){
          margin-bottom: 20px;
        }
      }
    }
  }
}

