@import "../../styles/mixins";
certificate-box {
  .certificate{
    margin-top: 40px;
    &__content{
      &__box{
        margin: auto;
        background-color: white;
        @include border-shadow(3px, 3px, 15px, rgba(0,0,0,0.15));
        text-align: center;
        &__icon{
          width: 80px;
          height: 80px;
          background-color: white;
          @include translate("x", relative);
          top: -40px;
          @include border-shadow(2px, 2px, 10px, rgba(0,0,0,0.15));
          border-radius: 5px;
        }
        h2{
          text-transform: capitalize;
          font-size: 25px;
          margin: 5px auto 40px auto;
        }
        &__info{
          display: flex;
          justify-content: center;
          &__text{
            font-size: 18px;
            border-top: 1px solid rgba(0,0,0,0.16) !important;
            border-bottom: 1px solid rgba(0,0,0,0.16) !important;
            padding: 15px;
            font-weight: 300;
          }
          &__item{
            width: 50%;
            padding: 15px;
            p{
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 300;
            }
            h3{
              font-size: 19px;
              font-weight: 500;
            }
            &:nth-child(1){
              border-right: 1px solid rgba(0,0,0,0.16);
            }
          }
        }
      }
      &__button{
        margin: auto;
        padding: 20px 30px;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 50px;
        @include translate("x", relative);
        top: 30px;
        background: rgba(205,71,107,1);
        background: -moz-linear-gradient(left, rgba(205,71,107,1) 0%, rgba(247,172,81,1) 100%);
        background: -webkit-linear-gradient(left, rgba(205,71,107,1) 0%, rgba(247,172,81,1) 100%);
        background: -o-linear-gradient(left, rgba(205,71,107,1) 0%, rgba(247,172,81,1) 100%);
        background: -ms-linear-gradient(left, rgba(205,71,107,1) 0%, rgba(247,172,81,1) 100%);
        background: linear-gradient(to right, rgba(205,71,107,1) 0%, rgba(247,172,81,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd476b', endColorstr='#f7ac51', GradientType=1 );
        color: white;
      }
    }
  }
}

