<div class="certificate certificate__content">
  <div class="certificate__content__box">
    <div *ngIf="type == 'popup'" class="certificate__content__box__icon certificate__content__box__icon__square">
      <!--<img src="{{icon}}"/>-->
    </div>
    <div *ngIf="type == 'verification'" class="certificate__content__box__icon certificate__content__box__icon__circle">
      <img *ngIf="status == 'passed'" src="./assets/img/landing/success.svg"/>
      <img *ngIf="status == 'failed'" src="./assets/img/landing/revoked.svg"/>
    </div>
    <h2>{{title}}</h2>
    <hr *ngIf="type == 'verification'">
    <h4 class="certificate__content__box__verification certificate__content__box__verification__passed" *ngIf="type == 'verification' && status == 'passed'">
      {{statusMessage}}
    </h4>
    <h4 class="certificate__content__box__verification certificate__content__box__verification__failed" *ngIf="type == 'verification' && status == 'failed'">
      {{statusMessage}}
    </h4>
    <h3 class="certificate__content__box__info__text">Certificate Info</h3>
    <div class="certificate__content__box__info">
      <div class="certificate__content__box__info__item">
        <p>issues by</p>
        <h3>{{name}}</h3>
      </div>
      <div class="certificate__content__box__info__item">
        <p>date signed</p>
        <h3>{{date}}</h3>
      </div>
    </div>
  </div>
  <button *ngIf="type == 'popup'" class="certificate__content__button certificate__content__button__full" (click)="getVerificationCode(certificate)">Verification Code</button>
  <div *ngIf="type == 'verification'">
    <button class="certificate__content__button certificate__content__button__full" (click)="cameraPage()">Scan Again</button>
    <button class="certificate__content__button certificate__content__button__outline" (click)="cancel()">Cancel</button>
  </div>
</div>
